main {
  max-width: 48rem;
  margin: 3rem auto;
  padding: 0 2rem;
}

.privacy__section {
  margin-bottom: 3rem;
}

.privacy__title {
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin-bottom: 2rem;
  font-weight: 800;
}

.privacy__updated {
  font-weight: 700;
  margin-bottom: 1.25rem;
}

.privacy__text {
  font-weight: 400;
  line-height: 1.75rem;
  margin-bottom: 1.25rem;
}

.privacy__intro {
  margin-bottom: 3rem;
}

.privacy__subtitle {
  font-weight: 700;
  line-height: 2rem;
  margin-bottom: 1.5rem;
}

.privacy__list .privacy__list-item{
  list-style: disc;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
  line-height: 1.75rem;
}