
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800;900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #171717;
  background-color: #ffffff;
}

html {
  font-size: 100%;
}

ul {
  padding: 0;
}
 
li {
  list-style: none;
}

a {
  text-decoration: none;
}
