@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter_18pt-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
font-size: 100%;
}

header{
    color: black;
    text-align: left;
    padding: 1rem;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
   
    background-color: #f9f9f9;
    padding: 10px 20px;

}

body{
    font-family: 'Inter', sans-serif;
    color: black;
    line-height: 1.6;
}

h2{
    font-weight: 800;
    font-size: 24px;
    margin-top: 1.2rem;
    margin-bottom: 0.8rem;
    display: inline-block;
    padding-bottom: 0.2rem;
    width: 100%;
}

h1{
    font-weight: 800;
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 1rem;
}

ul{
    margin-left: 1.5rem;
}

p{
    margin-bottom: 1rem;
    font-size: 1rem;
    line-height: 1.5;
}

.contenedor{
    max-width: 900px;
    margin: 3rem auto;
    padding: 2rem;
    border-radius:8px ;

}

.main-nav ul {
  list-style: none;     
  margin: 0;           
  padding: 0;           
  display: flex;       
  gap: 1rem;            
  align-items: center;
}

.brand {
  margin: 0;            
  font-weight: 700;
  margin-right: 1rem;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 20px; 
}

.logo {
  width: 50px;   
  height: auto;
}

.footer-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
