*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter_18pt-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
html{
font-size: 100%;
}
body{
    font-family: 'Inter', sans-serif;
    color: black;
    line-height: 1.6;
}
header{
    color: black;
    text-align: left;
    padding: 1rem;
    border-bottom: 1px solid black;

}
.contenedor{
    max-width: 900px;
    margin: 3rem auto;
    padding: 2rem;
    border-radius:8px ;

}
h1{
    font-weight: 800;
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 1rem;
}
h2{
    font-weight: 800;
    font-size: 24px;
    margin-top: 1.2rem;
    margin-bottom: 0.8rem;
   /* border-bottom: 25px solid #ffedcc;*/
    display: inline-block;
    padding-bottom: 0.2rem;
    width: 100%;


}
p{
    margin-bottom: 1rem;
    font-size: 1rem;
    line-height: 1.5;
}
ul{
    margin-left: 1.5rem;
}
